*.csv
*.mat
.pytest_cache
/__pycache__/
.idea
/RAW_EEG/*.csv
/RAW_EEG/*/
/RAW
/EEG_FT_DATA/*.csv
.ipynb_checkpoints/
*.zip
*/__pycache__/*
*.pth
Experiments/results/*.png
Experiments/results/*.json
*.json